<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.epacms.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kevin.epacms.entity.User">
        <id column="id" property="id" />
        <result column="sno" property="sno" />
        <result column="username" property="username" />
        <result column="real_name" property="realName" />
        <result column="password" property="password" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="address" property="address" />
        <result column="dormitory_num" property="dormitoryNum" />
        <result column="nation" property="nation" />
        <result column="class_num" property="classNum" />
        <result column="academy" property="academy" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="enabled" property="enable" />
        <result column="register_time" property="registerTime" />
        <result column="rid" property="rid" />
    </resultMap>
</mapper>
